
body {
    color: white;
    font-family: "Satisfy", cursive;
    background: #31405e;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;

}

header {
    border-bottom: solid 2px #c8d6f1;
    font-size: 70px;
    padding: 15px;
    color: #c8d6f1;
    font-family: "Yeseva One", serif;

}

.chamada-texto { 
    background: #6592f2;
   padding: 10px;
    justify-content: center;
}

.chamada-texto {

    font-size: 20px;
}

h1 { 
    font-size: 40px;
}

p {
    font-size: 20px;
}

h2{ 
    font-family: "Satisfy", cursive;
    font-size: 60px;
    text-align: left;
    color: #c8d6f1;
    border-bottom: solid 1px #c8d6f1;
}

.recomendados {

    display: flex;
    overflow-x: auto;
    gap: 10px
}

.minis {
    padding-left: 2%;
    padding-right: 2%;

}

.recomendados img {
    opacity: 60%;
    height: 200px;
}

.recomendados img:hover{
   opacity: 100%;
   border: solid 2px #c8d6f1;
}